.calendar-head {
    display: flex;
    justify-content: center;
}

body {
    background-color: #000;
}

.site-header {
    color: #009DBF;
}

table, th, td {
    border: 1px solid white;
    color: white;
}

.calendar-container {
    display: flex;
    justify-content: center;
}

.main-calendar {
    width: 100%;
}