.calendar-head {
    display: flex;
    justify-content: center;
}

body {
    background-color: #000;
}

.site-header {
    color: #009DBF;
}

table, th, td {
    border: 1px solid white;
    color: white;
}

.calendar-container {
    display: flex;
    justify-content: center;
}

.main-calendar {
    width: 100%;
    table-layout: fixed;
}

.main-calendar td,
.main-calendar th {
    width: 14.28%; /* 100% / 7 days */
    overflow: hidden; /* prevents stretching */
}

.cal-day {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.day-header {
    color: white;
}

.day-header-today {
    color: #009DBF;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.month-header {
    color: white;
    font-weight: bold;
    font-size: medium;
}

.month-button {
    color: white;
    background-color: grey;
    border-radius: 15px;
}

.interact-dropdown {
    color: #FFFFFF;
    background-color: darkgray;
    border-radius: 15px;
}

.interact-buttons {
    display: flex;
    justify-content: space-between;
}

.interact-button {
    color: #FFFFFF;
    background-color: darkgray;
    border-radius: 15px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.overdue {
    color: red;
}