.header-wrap {
    display: flex;
    justify-content: center;
}

body {
    background-color: #000;
}

.site-header {
    color: #009DBF;
}

.to-do-checkbox-label {
    color: #FFFFFF;
}

.to-do-description {
    color: #FFFFFF;
}

.to-do-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.to-do-item {
    max-width: 80%;
    width: 100%;
    background: #4a4a49;
    border-radius: 15px;
    border: 3px solid #4a4a49;
    padding: 5px;
}

.to-do-item-header {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.header-interaction {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.interact-button {
    color: #FFFFFF;
    background-color: darkgray;
    border-radius: 15px;
    width: 5%;
}

.interact-dropdown {
    color: #FFFFFF;
    background-color: darkgray;
    border-radius: 15px;
}

.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: gray;
    z-index: 1;
}

.modal-content {
    width: 50%
}

.input-title input,
.input-description textarea {
    width: 100%;
    box-sizing: border-box;
}

.save-cancel {
    display: flex;
    justify-content: space-between;
}

.to-do-checkbox-label {
    font-weight: bold;
    font-size: 20px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.to-do-heads {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.to-do-date {
    color: #FFFFFF;
    font-size: 0.9rem;
    margin: 0;
}

.filter_label {
    color: #FFFFFF;
}

.edit-todo {
    color: #FFFFFF;
    background-color: darkgray;
    border-radius: 15px;
}

.delete-todo {
    color: #FFFFFF;
    background-color: darkgray;
    border-radius: 15px;
}

.to-do-right {
    display: flex;
    align-items: flex-end;
    gap: 3px;
}